<h1>Puzzles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= link_to puzzle.title, puzzle_path(puzzle), method: "show" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>