<h1><%= @puzzle_hunt.name %></h1>
<% if @puzzle_hunt.completed_hunt(current_user) %>
  <h2>You finished in <%= @puzzle_hunt.completed_hunt(current_user).ordinalize %> place</h2>
<% end %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @unlocked_puzzles.each do |puzzle| %>
      <tr>
        <td><%= link_to puzzle.title, puzzle_path(puzzle), method: "show" %></td>
        <td><%= puzzle.solved?(current_user) ? puzzle.correct_answer : "---" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
